/*--------- 
    BACKGROUD COLOR
-----------*/

.ms-bg-primary{
    background-color: var(--ms-primary-color);
}

.ms-bg-secondary{
    background-color: var(--ms-secondary-color);
}

.ms-bg-secondary-light{
    background-color: var(--ms-secondary-color-light);
}

/*--------- 
     COLOR
-----------*/

.ms-color-primary{
    color: var(--ms-primary-color);
}

.ms-color-secondary{
    color: var(--ms-secondary-color);
}

.ms-color-secondary-light{
    color: var(--ms-secondary-color-light);
}

.ms-color-dark{
    color: black;
}
/*-----------
    CONTAINER
-------------*/

.ms-container-small{
    width: 60%;
    margin: auto;
}

/*-----------
    BUTTON
-------------*/

.ms-btn{
    color: white;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
}

/*-----------
    AVATAR
-------------*/

.ms-avatar-size img{
    width: 200px;
    height: auto;
}

/*------------
    LINE-STAR
-------------*/

.ms-star::before{
    content: " ";
    display: block;
    position: absolute;
    background-color: currentColor;
    height: 4px;
    width: 150px;
    top: 50%;
    left: calc(50% - 200px);
}

.ms-star::after{
    content: " ";
    display: block;
    position: absolute;
    background-color: currentColor;
    height: 4px;
    width: 150px;
    top: 50%;
    right: calc(50% - 200px);
}

.ms-star{
    text-align: center;
    position: relative;
    color: currentColor;
    font-size: 50px;
}

/* <--- Responsive -----> */

@media screen and (max-width: 575.98px) {
    .ms-star::before{
        width: 80px;
        left: calc(50% - 120px);
    }

    .ms-star::after{
        width: 80px;
        right: calc(50% - 120px);
    }
}

@media screen and (max-width: 300px) {
    .ms-star::before{
        width: 30px;
        left: calc(50% - 70px);
    }

    .ms-star::after{
        width: 30px;
        right: calc(50% - 70px);
    }
}

/*------------
    FORM
-------------*/

.ms-form-details{
    color: currentColor;
    border-bottom: 1px solid black;

}